<h1>@ViewBag.CheckoutCompleteMessage</h1>
<br />
<div style="background-image:url('/Images/Backgrounds/Background_Order_CheckoutComplete.gif'); background-size:cover; background-repeat: no-repeat; background-position: center; height: 50em; " >
<div>